<template name="SideNav">
	<aside class="sidenav blue darken-3 center">
		<ul>
			<li>
				<a href="/project-list" class="white-text"><i class="material-icons">view_list</i> Project List</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/menu" class="white-text"><i class="material-icons ">star</i> Awarded Projects</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/shopping-list" class="white-text"><i class="material-icons ">system_update_alt</i> Ongoing Projects</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/add-employee" class="white-text"><i class="fa fa-user"></i> Add Employee</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/add-client" class="white-text"><i class="fa fa-user"></i> Add Client</a>
			</li>
		</ul>
		<ul>
			<li>
				<a class="white-text logout" href="#"><i class="material-icons">clear</i> Logout</a>
			</li>
		</ul>

	</aside>
</template>
