<template name="SideNav">
	<aside class="sidenav blue darken-3">
		<ul>
			<li>
				<a href="/project-list" class="categories"><i class="material-icons left">view_list</i> Project List</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/menu" class="categories"><i class="material-icons left">star</i> Awarded Projects</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/shopping-list" class="categories"><i class="material-icons left">system_update_alt</i> Ongoing Projects</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/add-employee" class="categories"><i class="fa fa-user"></i> Add Employee</a>
			</li>
		</ul>
		
	</aside>
</template>
