.container{
  margin-top: 3%;
  position: relative;
  margin-left: 20%;
}
.sidenav{
  height:100%;
  width: 18%;
  position:left;
  position:fixed;
  font-size: 125%;
  font-color: #FFFFFF;
}
.header{
  font-size: 20%;
}
